<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs')%>

    <div>
        <hr>
        <h2>Categorias</h2>
        <hr>
    </div>
    
</body>
<%- include ('../../partials/footer.ejs') %>