<%- include ('../../partials/header.ejs') %>

    <body>
        <%- include ('../../partials/usernavbar.ejs')%>
            <div class="container">
                <div class="card mt-5">

                    <div class="card-header">
                        <h2 class="text-center">Login</h2>
                    </div>

                    <div class="card-body row d-flex justify-content-center">
                        <form action="/authenticate" method="post">
                            <div class="form-group">

                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="nome@exemplo.com" style="width: 30rem;">
                                <small class="form-text text-muted">Nunca vamos compartilhar seu email,
                                    com ninguém.</small>

                            </div>

                            <div class="form-group">

                                <label>Senha</label>
                                <input type="password" class="form-control" name="password" placeholder="Senha" style="width: 30rem;">

                            </div>

                            <button type="submit" class="btn btn-info btn-block" required>Login</button>
                        </form>
                    </div>

                </div>
            </div>
    </body>
    <%- include ('../../partials/footer.ejs') %>